header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  background: #171717;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.logo {
  font-weight: 900;
  font-size: 22px;
  text-decoration: none;
  color: #bb86fc;
  transition: 0.15s;

  &:hover {
    text-decoration: none !important;
    color: #c698fd;
  }
}

.link {
  text-decoration: none;
  font-size: 14px;
  color: #bb86fc;
  transition: 0.15s;

  & :hover {
    text-decoration: underline;
  }
}
